<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <h1>This is head</h1>
    <h1><%= 2*3 %></h1>
    <h1><%= "ashu".toUpperCase() %></h1>
    <h1><%= ["apple","banana"][0] %></h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat libero reiciendis cum illum quaerat. Accusantium autem at animi ratione exercitationem.</p>
    <button>Clickme!</button>
</body>
</html>